<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fireworks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C4CF8CD1BC0B7D100B8BEB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C4CF8E61BC0B7D100B8BEB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C4CF8F11BC0B7D100B8BEB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
